.background{
    background-color: rgb(8, 0, 34);
}
.nav{
    display: flex;
    justify-content:space-around;
    border-width:1px 0;
    list-style:none;
    margin-top:0%;
    margin-left: auto;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
    padding:0 20px;
}
.nav a{
    display:inline-block;
    padding:8px;
    color:white;
    font-family:'Ubuntu',sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-decoration: none;
}
.divider1{
    margin-top: -5%;
    max-width: 100%;
}
.divider{
    margin-top: 1%;
    max-width: 100%;
}
.horizontal-line{
    position:absolute;
    width: 100%;
    height:1px;
    top:50%;
    z-index: -1;
}
.name{
    display: flex;
    align-items: center;
    margin-left: 5%;
    text-align: end;
    position: relative;
}
.logo{
    height: 300px;
    overflow: hidden;
    margin-bottom: 5%;
    max-width: 100%;
}

.image{

    height:400px;
    
}
.image1{
    height:400px;
    margin-left: 10%;
    margin-right: 10%;
}

.division{
    display:flex;
}
.btn{
    width:440px;
    height:90px;
    margin-top: 15%;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom:5%;
    border-radius: 30px;
    font-family: 'Wallpoet', cursive;
    font-size: 250%;
    color:white;
    background-image:linear-gradient(to bottom, #802495,#000000);
    border: none;
    text-align: center;
}
.btn1{
    width:440px;
    height:90px;
    margin-top: 15%;
    margin-left:20%;
    margin-right: 10%;
    margin-bottom:5%;
    border-radius: 30px;
    font-family: 'Wallpoet', cursive;
    font-size: 250%;
    color:white;
    background-image:linear-gradient(to bottom, #802495,#000000);
    border: none;
    text-align: center;
}
.h1{
    font-family:'Wallpoet',cursive;
    color:#D9603C;
    font-size: 120px;
    margin-left: 8%;
    font-size: 60px;
    margin-top: 5%;
    margin-bottom:5%;
}