{% extends "layout.html" %}

{% block title %}FITFUSE | HOME{% endblock %}
{% block body %}
<div class="name">
<img src="{{url_for('static',filename='logo.png')}}" class="logo">
<font class="h1">FITFUSE</font>
</div>
<hr color="#C8C8C8" class="divider1">

<ul class="nav">
  <li><a href="#">Home</a></li>
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">User Information</a></li>
  <li><a href="#">Settings</a></li>
</ul>
<hr color="#C8C8C8" class="divider">
<div class="division">
    <button type="submit" value="fat" class="btn">LOSE FAT</button>
    <img src="{{url_for('static',filename='fat.png')}}" class="image1">
</div>
<hr>
<div class="division">
<img src="{{url_for('static',filename='muscle.png')}}" class="image">
<button type="submit" value="muscle" class="btn">GAIN MUSCLE</button>
</div>
<hr color="#F7F57B">
<div class="division">
    <button type="submit" value="food" class="btn">DIET PLAN</button>
    <img src="{{url_for('static',filename='food.png')}}" class="image">
</div>
<hr color="#7D8D00">
<div class="division">
    <img src="{{url_for('static',filename='mind.png')}}" height="400px">
    <button type="submit" value="muscle" class="btn1">HEALTHY MIND</button>
</div>
<hr color="#F7F57B">

{% endblock %}