{% extends "layout.html" %}

{% block title %}FITFUSE-Home{% endblock %}
{% block body %}
<img src="{{url_for('static',filename='logo.png')}}" class="logo">
<div class="name">
<h1><font class="h1">FITFUSE</font></h1>
</div>
<hr color="#000000" class="divider1 underlay">
<ul class="nav">
  <li><a href="#">Home</a></li>
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">User Information</a></li>
  <li><a href="#">Settings</a></li>
</ul>
<hr color="#000000" class="divider underlay">
<div class="division">
    <button type="submit" value="fat" class="btn">LOSE FAT</button>
    <img src="{{url_for('static',filename='fatloss.png')}}" class="image1">
</div>
<hr>
<div class="division">
<img src="{{url_for('static',filename='muscle.png')}}" class="image">
<button type="submit" value="muscle" class="btn">GAIN MUSCLE</button>
</div>
<hr color="#F7F57B">
<div class="division">
    <button type="submit" value="food" class="btn">DIET PLAN</button>
    <img src="{{url_for('static',filename='food.png')}}" height="300px">
</div>
<hr color="#7D8D00">
<div class="division">
    <img src="{{url_for('static',filename='mind.png')}}" class="image">
    <button type="submit" value="muscle" class="btn1">HEALTHY MIND</button>
</div>
<hr color="#F7F57B">

{% endblock %}